img, embed, object, video {
    max-width: 100%;
}


body {
    padding-top: 20px;
    padding-bottom: 20px;
}


hr {
    margin-bottom: 12px;
    margin-top: 12px;
}

.likes {
    position: absolute;
    top: 7px;
}

.row {
  width: 100%;
  margin: 0 auto;
}


.post-footer .btn{
    border: none;
}

.text-muted {
    color: #747704;
}


.text-thin {
    font-weight: 100;
}


.title-super {
    font-size: 70px;
}


.title-logo{
    margin-top: 20px;
}

.comment {
    padding-left: 20px;
}

.comment-header {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.4;
}

