<!-- each instance of this block is a single blog comment -->
<html>
    <div class="media-body comment">
        <!-- header of comment -->
        <h4 class="media-heading post-footer">
            {{c._user}}
            <!-- comment date and time -->
            <small class="comment-date">{{c.created.strftime("%b %d, %Y %H:%M")}}</small>
            {% if uid == c.id %}
                <!-- delete button -->
                <a class="btn btn-default pull-right"
                href="/blog/deletecomment/{{c.key().id()}}"><span class="glyphicon glyphicon-trash"></span></a>
                <!-- edit button -->
                <a class="btn btn-default pull-right"
                href="/blog/editcomment/{{c.key().id()}}"><span class="glyphicon glyphicon-edit"></span></a>
            {% else %}
            {% endif %}
        </h4>
        <!-- content of comment -->
        <div class="comment-content">{{c._render_text | safe}}</div>
    </div>
</html>
