{% extends "base.html" %}

<!-- jinja template block -->
{% block content %}
<html>
    <body>
        <!-- new post form -->
        <form method="post">
            <h2>New Post</h2>
            <!-- subject of form -->
            <div class="form-group">
                <label for="sub">Subject</label>
                <input type="text" name="subject" class="form-control" id="sub" value="{{subject}}">
            </div>
            <!-- post of form -->
            <div class="form-group">
                <label for="post">Post</label>
                <textarea name="content" class="form-control" rows="5" id="post">{{content}}</textarea>
            </div>
            <!-- submit button -->
            <div class="error">{{error}}</div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </body>
</html>
{% endblock %}
