<!-- each instance of this block is a single blog post and comments -->
<html>
    <div class="post">
        <!-- header of post -->
        <div class="post-heading">
            <!-- subject of post -->
            <h3>{{p.subject}}</h3>
            <!-- date of post -->
            <p class="lead">by {{p._name}}</p>
                <hr>
            <p>
                <span class="glyphicon glyphicon-time"></span>
                Posted on {{p.created.strftime("%b %d, %Y %H:%M")}}
            </p>
            <hr>
        </div>
        <!-- content of post -->
        <div class="post-content">{{p._render_text | safe}}</div>

        <!-- footer of post -->
        <div class="btn-group post-footer row">
            <!-- delete button -->
            <div>
                <a class="btn btn-default pull-right"
                href="/blog/delete/{{p.key().id()}}"><span class="glyphicon glyphicon-trash"></span></a>
                <!-- edit button -->
                <a class="btn btn-default pull-right"
                href="/blog/editpost/{{p.key().id()}}"><span class="glyphicon glyphicon-edit"></span></a>
                <!-- unlike button -->
                <a class="btn btn-default pull-right"
                href="/blog/unlikepost/{{p.key().id()}}"><span class="glyphicon glyphicon-thumbs-down"></span></a>
                <!-- like button -->
                <a class="btn btn-default pull-right"
                href="/blog/likepost/{{p.key().id()}}"><span class="glyphicon glyphicon-thumbs-up"></span></a>
                <!-- # of likes -->
                <div class="likes"><span class="badge">{{p.likes}} Likes</span></div>
            </div>
        </div>
        <!-- hidden input with name of poster -->
        <input type="hidden" name="user" value="{{p.created_by.name}}">
        <hr>
        <!-- comment section of post -->
        <div class="post-comments">
            <!-- comments form -->
            <div class="well">
                <form method="post">
                    <div class="form-group">
                        <textarea name="comment" class="form-control" rows="3">Leave a comment</textarea>
                        <input type="hidden" name="id" value="{{p.key().id()}}">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
            <!-- comments of post -->
            <div>
                {% for c in comments %}
                    {{ c.render() | safe }}
                    <br>
                {% endfor %}
            </div>
        </div>
        <hr>
    </div>
</html>
