{% extends "base.html" %}

<!-- jinja template block -->
{% block content %}
<html>
    <body>
        <!-- sign up form -->
        <form method="post">
            <h2 class="form-signin-heading">Signup</h2>
            <!-- row 1 of form -->
            <div class="form-group">
                <label for="un">Username:</label>
                <input type="text" name="username" class="form-control" id="un" value="{{username}}">
                </td>
                <div class="error">{{error_username}}</div>
            </div>
            <!-- row 2 of form -->
            <div class="form-group">
                <label for="pw">Password:</label>
                <input type="password" name="password" class="form-control" id="pw" value="">
                <div class="error">{{error_password}}</div>
            </div>
            <!-- row 3 of form -->
            <div class="form-group">
                <label for="vpw">Verify Password:</label>
                <input type="password" name="verify" class="form-control" id="vpw" value="">
                <div class="error">{{error_verify}}</div>
            </div>
            <!-- row 4 of form -->
            <div class="form-group">
                <label for="email">Email (Optional):</label>
                <input type="email" name="email" class="form-control" id="email" value="{{email}}">
                <div class="error">{{error_email}}</div>
            </div>
            <!-- submit button -->
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </body>
</html>
{% endblock %}
